*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    background-color: #eee;
    color: #777777;
}
h3{
    text-transform: uppercase;
    padding: 3%;
    color: #333;
    letter-spacing: 3px;
    font-size: 140%;
}
.header{
    background-image: url(assets/backgrounds/h_img.jpg);
    height: 100vh;
    background-size: cover;
    text-align: center;
    padding-top: 13%;
    color: #fff;
    text-transform: uppercase;
}
.primary-heading{
    font-size: 300%;
    padding-top: 2.5%;
    font-weight: 400;
}
.heading--top{
    display: block;
    padding-bottom: 1%;
}
.secondary-heading{
    padding-top: 2.2%;
    font-size: 80%;
}
.mouse-click-icon{
    padding-top: 11%;
}
.about-us{
    height: 55vh;
    background-color: #eee;
    text-align: center;
    padding: 2%;
    color: #111;
}
.about-title{
    text-transform: uppercase;
    /* padding: 3%; */
    color: #333;
}
.about-us p{
    margin-left: 25%;
    width: 50%;
    line-height: 1.4;
    font-size: 90%;
}
.about--details{
    width: 60%;
    margin-left: 20%;
    font-size: 98%;
    line-height: 1.4;
}
.services{
    background-image: url(assets/backgrounds/s_image.jpg);
    height: 50vh;
    text-align: center;
    padding: 4%;
    color: #fff;
}

.services--title{
    color: #fff;
}
.services p{
    margin-left: 30%;
    width: 40%;
    line-height: 1.4;
    font-size: 90%;
}
.portfolio{
    width: 88%;
    margin-left: 6%;
    margin-bottom: 5%;
}
.portfolio-title{
    padding-top: 4.5%;
    text-align: center;
    letter-spacing: 1px;
    color: #555;
}
.portfolio--top img,
.portfolio--bottom img{
    width: 280px;
    padding: 1%;
    padding-bottom: 2%;
}
.contact{
    background-image: url(assets/backgrounds/c_image.jpg);
    height: 65vh;
}
.contact-title{
    text-align: center;
    color: #fff;
    letter-spacing: 2px;
    margin-right: 9%;
}
.form{
    width: 90%;
    margin-left: 10%;
}
.form input{
    border: 2px solid #ffff;
    background: transparent;
    padding: 1.2%;
    color: #fff;
    width: 36%;
    height: 50px;
    margin-right: 5%;
}
.form textarea{
    border: 2px solid #ffff;
    background: transparent;
    margin-top: 2%;
}
::placeholder{
    color: #fff;
    font-style: italic;
    padding: 10px;
}
.footer{
    height: 30vh;
    margin-top: 4%;
    width: 60%;
    margin-left: 20%;
}
.footer img{
    padding: 1%;
}
.copyright{
    text-align: center;
    margin-top: 5%;
    color: #222;
    margin-right: 14%;
}